<%- include("partials/header.ejs") %>

<div class="aboutus-container">

    <p class="aboutus-heading">About</p>
    <p class="aboutus-content"><b>"The best ideas can change who we are"</b>. BlogItOut is where those ideas take shape, take off, and spark powerful conversations. We're an open platform with quite a good number of readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is
    to spread these ideas and deepen understanding of the world.
    <br>
    <br>
    <span class="about-highlight">Why BlogItOut ?</span>
    <br>
    There are several reasons for this, and the main one is because of Neat & Clean user-friendly UI which allows any new <a class="content-links" target="_blank" href="https://www.vocabulary.com/dictionary/blogger#:~:text=A%20blogger%20is%20someone%20who,and%20links%20to%20other%20sites.">Blogger</a> or Reader to easily grab the required information.
    <br>
    <br>
    Anyone can write on BlogItOut. Thought-leaders, journalists, experts, and individuals with unique perspectives share their
    thinking here. You'll find pieces by independent writers from around the globe, stories we feature and leading authors,
    and smart takes on our own suite of blogs and publications.
    <br>
    <br>
    A blank page is also a door. At BlogItOut you can walk through it. It's easy and free to share your thinking on any topic,
    connect with an audience, express yourself with a range of publishing tools.
    
    </p>

</div>

<%- include("partials/footer.ejs") %>

<!-- <a class="content-links" target="_blank" href="https://en.wikipedia.org/wiki/Blog"></a> -->